In [0]:
from pyspark.sql.functions import *
rdd1 = sc.parallelize([("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)])
emp=rdd1.toDF(["employee_name", "department", "salary"])
#rdd1.collect()
emp.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [0]:
def salary(salary):
    if salary>3000:
        return "good pay"
    else:
        return "bad pay"


salary_udf=udf(salary)
emp.withColumn("sal_range",salary_udf("salary")).show()

+-------------+----------+------+---------+
|employee_name|department|salary|sal_range|
+-------------+----------+------+---------+
|        James|     Sales|  3000|  bad pay|
|      Michael|     Sales|  4600| good pay|
|       Robert|     Sales|  4100| good pay|
|        Maria|   Finance|  3000|  bad pay|
|        James|     Sales|  3000|  bad pay|
|        Scott|   Finance|  3300| good pay|
|          Jen|   Finance|  3900| good pay|
|         Jeff| Marketing|  3000|  bad pay|
|        Kumar| Marketing|  2000|  bad pay|
|         Saif|     Sales|  4100| good pay|
+-------------+----------+------+---------+