In [0]:
import pyspark.sql.functions as f
simpleData = (("James", "Sales", 3000),
("Michael", "Sales", 4600),
("Robert", "Sales", 4100),
("Maria", "Finance", 3000),
("James", "Sales", 3000),
("Scott", "Finance", 3300),
("Jen", "Finance", 3900),
("Jeff", "Marketing", 3000),
("Kumar", "Marketing", 2000),
("Saif", "Sales", 4100)
)
rdd1 = sc.parallelize(simpleData)
df = rdd1.toDF(["employee_name","department","salary"])
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql.functions import rank
from pyspark.sql.functions import dense_rank
windowSpec = Window.partitionBy("department").orderBy("salary")
#df = df.withColumn("dense_rank",dense_rank().over(windowSpec)).show()
#df = df.withColumn("row_number",row_number().over(windowSpec))
#df = df.withColumn("rank_value",rank().over(windowSpec))
df = df.withColumn("dense_rank_value",dense_rank().over(windowSpec))
df.show()

+-------------+----------+------+----------------+
|employee_name|department|salary|dense_rank_value|
+-------------+----------+------+----------------+
|        Maria|   Finance|  3000|               1|
|        Scott|   Finance|  3300|               2|
|          Jen|   Finance|  3900|               3|
|        Kumar| Marketing|  2000|               1|
|         Jeff| Marketing|  3000|               2|
|        James|     Sales|  3000|               1|
|        James|     Sales|  3000|               1|
|       Robert|     Sales|  4100|               2|
|         Saif|     Sales|  4100|               2|
|      Michael|     Sales|  4600|               3|
+-------------+----------+------+----------------+

In [0]:
from pyspark.sql.functions import lag,lead
#windowSpec = Window.partitionBy("department").orderBy("salary")
#df = df.withColumn("lag",lag("salary",1).over(windowSpec))
#df.show()

#3.2 lead Window Function
#from pyspark.sql.functions import lead
windowSpec = Window.partitionBy("department").orderBy("salary")
df = df.withColumn("lead",lead("salary",1).over(windowSpec))
df.show()

+-------------+----------+------+----------------+----+
|employee_name|department|salary|dense_rank_value|lead|
+-------------+----------+------+----------------+----+
|        Maria|   Finance|  3000|               1|3300|
|        Scott|   Finance|  3300|               2|3900|
|          Jen|   Finance|  3900|               3|null|
|        Kumar| Marketing|  2000|               1|3000|
|         Jeff| Marketing|  3000|               2|null|
|        James|     Sales|  3000|               1|3000|
|        James|     Sales|  3000|               1|4100|
|       Robert|     Sales|  4100|               2|4100|
|         Saif|     Sales|  4100|               2|4600|
|      Michael|     Sales|  4600|               3|null|
+-------------+----------+------+----------------+----+

In [0]:
import pyspark.sql.functions as f
simpleData = (("James", "Sales", 3000),
("Michael", "Sales", 4600),
("Robert", "Sales", 4100),
("Maria", "Finance", 3000),
("James", "Sales", 3000),
("Scott", "Finance", 3300),
("Jen", "Finance", 3900),
("Jeff", "Marketing", 3000),
("Kumar", "Marketing", 2000),
("Saif", "Sales", 4100)
)
rdd1 = sc.parallelize(simpleData)
df = rdd1.toDF(["employee_name","department","salary"])
df.show()