In [0]:
#import pyspark.sql.functions as f
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/FileStore/tables/first_test.csv")  
df.show()
#df.printSchema()
#df.select("name","id").show()
#df.filter(df.id>3).show()
#df.select(df.name, df.zip + 1).show()
#df.groupBy("zip").sum("id").show()

#df.agg({"id": "max"}).show() # 6
#df.agg({"id": "min"}).show() # 1
#df.agg({"id": "count"}).show() # 5
#df.agg({"id": "avg"}).show() # 3.2
#print(df.columns)


#df.filter((df.id == 1) & (df.zip == 560097)).show()

#df.filter((df.id == 1) | (df.zip == 560098)).show()
#new_df = df.where(df.id>2).select("id","zip")
#new_df.show()
#print(df.collect())

'''for i in df.collect():
  print(i["id"],i["area"])'''

df.createOrReplaceTempView("test") # dataframe u have regeistered as test table
#spark.sql(" select * from test ").show()
spark.sql(" select * from test where id> 3").show()

+---+-------+------+------+----+
| id|   area|  name|   zip| _c4|
+---+-------+------+------+----+
|  1|BLOCK A|   RAM|560097|null|
|  2|BLOCK B|   RAJ|560091|null|
|  3|BLOCK C| ROHAN|560092|null|
|  4|BLOCK D|RAMESH|560092|null|
|  5|BLOCK E|  RAMU|560098|null|
|  6|BLOCK S|   Dam|450000|null|
+---+-------+------+------+----+

+---+-------+------+------+----+
| id|   area|  name|   zip| _c4|
+---+-------+------+------+----+
|  4|BLOCK D|RAMESH|560092|null|
|  5|BLOCK E|  RAMU|560098|null|
|  6|BLOCK S|   Dam|450000|null|
+---+-------+------+------+----+

In [0]:
import pyspark.sql.functions as f
file_location1 = "/FileStore/tables/first_test.csv"
file_location2 = "/FileStore/tables/first_test.csv"
file_location3 = "/FileStore/tables/second.csv"
df1 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(file_location1)
df2 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(file_location2)
#df1.show()
#df2.show()
#df2 = df2.drop("id","area")
#df2 = df2.drop("id","area")
#df2.show()
#except_res = df1.substract(df2)
#except_res.show()
#intersection_res = df1.intersect(df2)
#intersection_res.show()
#union_res = df1.union(df2)
#union_res.show()
#df1.orderBy(f.asc("zip")).show() # select * from test order by zip asc
#df1.orderBy(f.desc("zip")).show()

In [0]:
rdd1 = sc.parallelize([("Rafferty",31),("Jones",33),("Heisenberg", 33),("Robinson", 34),("Smith", 34),("Williams", 39)])
rdd2 = sc.parallelize([(31, "Sales"),(33, "Engineering"),(34, "Clerical"),(35, "Marketing")])
employees = rdd1.toDF(["LastName","DepartmentID"])
departments = rdd2.toDF(["DepartmentID","DepartmentName"])
employees.show()
departments.show()
#df1 =  employees.join(departments, "DepartmentID")  # select * from test where test.id = test1.id and test.name = test1.name
#df1.show()
#inner_join.show()
#inner_join_with_Multiple = employees.join(departments, ["DepartmentID"])
#inner_join_with_Multiple.show()
#left = employees.join(departments, "DepartmentID", "left")
#left.show()
#left_outer = employees.join(departments, "DepartmentID", "left_outer")
#left_outer.show()
#left_semi = employees.join(departments, "DepartmentID", "left_semi")
#left_semi.show()
#right = employees.join(departments, "DepartmentID", "right")
#right.show()
#right_outer = employees.join(departments, "DepartmentID", "right_outer")
#right_outer.show()
#fullouter = employees.join(departments, "DepartmentID", "fullouter")
#fullouter.show()
left_anti = employees.join(departments, "DepartmentID", "left_anti")
left_anti.show()
#cartesian_join =  employees.join(departments) 
#cartesian_join.show()

+----------+------------+
|  LastName|DepartmentID|
+----------+------------+
|  Rafferty|          31|
|     Jones|          33|
|Heisenberg|          33|
|  Robinson|          34|
|     Smith|          34|
|  Williams|          39|
+----------+------------+

+------------+--------------+
|DepartmentID|DepartmentName|
+------------+--------------+
|          31|         Sales|
|          33|   Engineering|
|          34|      Clerical|
|          35|     Marketing|
+------------+--------------+

+------------+--------+
|DepartmentID|LastName|
+------------+--------+
|          39|Williams|
+------------+--------+

In [0]:
import pyspark.sql.functions as f
rdd1 = sc.parallelize([("Rafferty",31),("Jones",33),("Heisenberg", 33),("Robinson", 34),("Smith", 34),("Williams", 39)])
#rdd1.collect()
employees = rdd1.toDF(["LastName","DepartmentID"]) # converstion of rdd to dataframe 
#employees.show()
#employees = employees.withColumn("salary", f.lit(7500))
#employees.show()
employees = employees.withColumnRenamed("LastName","LastName_name")
employees.show()
#employees.

+-------------+------------+
|LastName_name|DepartmentID|
+-------------+------------+
|     Rafferty|          31|
|        Jones|          33|
|   Heisenberg|          33|
|     Robinson|          34|
|        Smith|          34|
|     Williams|          39|
+-------------+------------+

In [0]:
from pyspark.sql.types import IntegerType
file_location1 = "/FileStore/tables/first_test.csv"
df = spark.read.format("csv").option("header", "true").load(file_location1)
#df.show()
#df.printSchema()
df = df.withColumn("id", df["id"].cast(IntegerType()))
df = df.withColumn("zip", df["zip"].cast(IntegerType()))
df.show()
df.printSchema()

+---+-------+------+------+
| id|   area|  name|   zip|
+---+-------+------+------+
|  1|BLOCK A|   RAM|560097|
|  2|BLOCK B|   RAJ|560091|
|  3|BLOCK C| ROHAN|560092|
|  4|BLOCK D|RAMESH|560092|
|  6|BLOCK E|  RAMU|560098|
+---+-------+------+------+

root
 |-- id: integer (nullable = true)
 |-- area: string (nullable = true)
 |-- name: string (nullable = true)
 |-- zip: integer (nullable = true)

In [0]:
file_location1 = "/FileStore/tables/Test_DataMissing.csv"
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(file_location1)
df.show()
df.printSchema()
#df.na.drop().show()  # it will remove all record which is having a single null also
#df.na.fill(100).show()  # it will fill the value for those column which is having Number Type(Int or Float)
#df.na.fill("Missing_Number").show() # it will fill the value for those column which is having String Type#
#df.na.fill("Missing_Number",["Id"]).show() # it will fill the multiple Column

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
| em4|Cindy|456.0|
+----+-----+-----+

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
| em4|Cindy|456.0|
+----+-----+-----+

In [0]:
from pyspark.sql import functions as f
df = sc.parallelize([(4, "blah", 2),(2, "", 3),(56, "foo", 3),(100, "bar", 5)]).toDF(["A", "B", "C"])
df.show()
#df.createOrReplaceTempView("test")

#res = spark.sql("select * from test")
#res.show()
''
newDf = df.withColumn("D", f.when(df.B == "", 0).otherwise(1))
newDf.show()

+---+----+---+
|  A|   B|  C|
+---+----+---+
|  4|blah|  2|
|  2|    |  3|
| 56| foo|  3|
|100| bar|  5|
+---+----+---+

+---+----+---+---+
|  A|   B|  C|  D|
+---+----+---+---+
|  4|blah|  2|  1|
|  2|    |  3|  0|
| 56| foo|  3|  1|
|100| bar|  5|  1|
+---+----+---+---+

In [0]:
from pyspark.sql import functions as f
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/FileStore/tables/Test_Date2.csv")
df.show()
df.printSchema()
modifiedDF = df.withColumn("Date", f.to_date(df.Date, "MM/dd/yyyy"))
modifiedDF = modifiedDF.withColumn("birth_year",f.year(modifiedDF.Date))
modifiedDF = modifiedDF.withColumn("birth_month",f.month(modifiedDF.Date))
modifiedDF = modifiedDF.withColumn("birth_date",f.dayofmonth(modifiedDF.Date))
modifiedDF = modifiedDF.withColumn("fivteen_days_later",f.date_add(modifiedDF.Date, 15))
modifiedDF = modifiedDF.withColumn("twentty_days_Before",f.date_add(modifiedDF.Date, -20))
#modifiedDF.show()
modifiedDF.show()
#modifiedDF.printSchema()
#modifiedDF.show()

+----------+---+------+---+
|      Date| id|Volume|Age|
+----------+---+------+---+
|08/26/2016|100|  90.7| 26|
|08/27/2016|101|  90.7| 26|
|08/26/2016|102|  90.7| 26|
|06/14/2016|103|  90.7| 26|
|06/19/2016|102|  90.7| 26|
|06/25/2016|104|  90.5| 27|
+----------+---+------+---+

root
 |-- Date: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- Volume: double (nullable = true)
 |-- Age: integer (nullable = true)

+----------+---+------+---+----------+-----------+----------+------------------+-------------------+
|      Date| id|Volume|Age|birth_year|birth_month|birth_date|fivteen_days_later|twentty_days_Before|
+----------+---+------+---+----------+-----------+----------+------------------+-------------------+
|2016-08-26|100|  90.7| 26|      2016|          8|        26|        2016-09-10|         2016-08-06|
|2016-08-27|101|  90.7| 26|      2016|          8|        27|        2016-09-11|         2016-08-07|
|2016-08-26|102|  90.7| 26|      2016|          8|        26|        2016-09-10|         2016-08-06|
|2016-06-14|103|  90.7| 26|      2016|          6|        14|        2016-06-29|         2016-05-25|
|2016-06-19|102|  90.7| 26|      2016|          6|        19|        2016-07-04|         2016-05-30|
|2016-06-25|104|  90.5| 27|      2016|          6|        25|        2016-07-10|         2016-06-05|
+----------+---+------+---+----------+-----------+----------+------------------+-------------------+

In [0]:
from pyspark.sql import functions as f
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/FileStore/tables/Test_TimeStamp.csv")
#df.show()
#df.printSchema()
df = df.withColumn("minute",f.minute(df.DateTime))
df = df.withColumn("second",f.second(df.DateTime))
df = df.withColumn("hour",f.hour(df.DateTime))
df.show()

+-------------------+-----+------+----+------+------+----+
|           DateTime|   id|Volume| Age|minute|second|hour|
+-------------------+-----+------+----+------+------+----+
|2017-08-02 03:04:00|100.0|  90.7|  26|     4|     0|   3|
|1999-07-05 01:45:20| 90.7|  26.0|null|    45|    20|   1|
|1998-08-06 01:35:20|102.0|  90.7|  26|    35|    20|   1|
|1997-09-07 01:25:19|103.0|  90.7|  26|    25|    19|   1|
|1996-03-03 01:15:18|102.0|  90.7|  26|    15|    18|   1|
|1995-09-05 01:05:17|104.0|  90.5|  27|     5|    17|   1|
+-------------------+-----+------+----+------+------+----+

In [0]:
# if i am passing id column in the udf , it should return greater than 3 if the value is greater than 3 else it should return as lesser than 3 as new Column
from pyspark.sql.functions import udf,col
file_location1 = "/FileStore/tables/first_test.csv"
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load(file_location1)
df.show()
def CheckValue(id):
  if(id>3):
    return "Greater than 3"
  elif(id<3):
    return "Lesser than 3"
  else:
    return "equals to 3"
a = udf(CheckValue)
df_res = df.withColumn('res',a(col('id')))
df_res.show()

+---+-------+------+------+
| id|   area|  name|   zip|
+---+-------+------+------+
|  1|BLOCK A|   RAM|560097|
|  2|BLOCK B|   RAJ|560091|
|  3|BLOCK C| ROHAN|560092|
|  4|BLOCK D|RAMESH|560092|
|  6|BLOCK E|  RAMU|560098|
+---+-------+------+------+

+---+-------+------+------+--------------+
| id|   area|  name|   zip|           res|
+---+-------+------+------+--------------+
|  1|BLOCK A|   RAM|560097| Lesser than 3|
|  2|BLOCK B|   RAJ|560091| Lesser than 3|
|  3|BLOCK C| ROHAN|560092|   equals to 3|
|  4|BLOCK D|RAMESH|560092|Greater than 3|
|  6|BLOCK E|  RAMU|560098|Greater than 3|
+---+-------+------+------+--------------+

In [0]:
import re  # Regex Library
txt = "1.1..1.1"
compiled_pattern = re.compile('^[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}$')
def CheckValidIP(IP):
  res_Object = compiled_pattern.match(IP)
  #print(res_Object)
  if(res_Object):
    return IP
  else:
    return "Invalid IP " + IP  
res = CheckValidIP(txt)  
print(res)  

#  /FileStore/tables/abhisek_task.csv

In [0]:
# aakashkumar667@gmail.com
from pyspark.sql.functions import udf,col
file_location1 = "/FileStore/tables/first_test.csv"
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load(file_location1)
#df.show()
#df.printSchema()

dict={}
for i in df.collect():
    #print(i['id'])
    #print(i['name'])
    dict[i['id']]=i['name']
print(dict)



def CheckValue(id):
  #print(dict.get(id))
  return str(dict.get(id)) + "_new"

a = udf(CheckValue) # here we are registering that function as udf , function will do for only primitive and data strutre data types , but if u have to pass the columns you must have to register the function as the udf
df_res = df.withColumn('res',a(col('id')))
df_res.show()

{1: 'RAM', 2: 'RAJ', 3: 'ROHAN', 4: 'RAMESH', 6: 'RAMU'}
+---+-------+------+------+----------+
| id|   area|  name|   zip|       res|
+---+-------+------+------+----------+
|  1|BLOCK A|   RAM|560097|   RAM_new|
|  2|BLOCK B|   RAJ|560091|   RAJ_new|
|  3|BLOCK C| ROHAN|560092| ROHAN_new|
|  4|BLOCK D|RAMESH|560092|RAMESH_new|
|  6|BLOCK E|  RAMU|560098|  RAMU_new|
+---+-------+------+------+----------+

In [0]:
dfs = spark.read.option("inferSchema","true").option("multiline", "true").json("/FileStore/tables/first.json")
dfs.show()
dfs.printSchema()

+---+----+-------+
|age|  id|   name|
+---+----+-------+
| 25|1201| satish|
| 28|1202|krishna|
| 39|1203|  amith|
| 23|1204|  javed|
| 23|1205| prudvi|
+---+----+-------+

root
 |-- age: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

In [0]:
from pyspark.sql import functions as f
df = spark.read.json("/FileStore/tables/second.json")
df.show(truncate=False)
#df.printSchema()
#dfDates = df.select(f.explode(df.dates))
#dfDates.show()
dfContent = df.select(f.explode(df.content))
dfContent.show()
dfFooBar = dfContent.select("col.id", "col.value").show()
'''dfContent.printSchema()
dfContent1 = df.select(f.explode(df.content)).toDF("content")
dfContent1.show()
dfFooBar = dfContent1.select("content.id", "content.value").show()'''

+-----------------------------------------------------------------+------------------------+-----------+------+-----------+
|content                                                          |dates                   |reason     |status|user       |
+-----------------------------------------------------------------+------------------------+-----------+------+-----------+
|[{123, val1}, {456, val2}, {789, val3}, {124, val4}, {126, val5}]|[2016-01-29, 2016-01-28]|some reason|OK    |gT35Hhhre9m|
+-----------------------------------------------------------------+------------------------+-----------+------+-----------+

+-----------+
|        col|
+-----------+
|{123, val1}|
|{456, val2}|
|{789, val3}|
|{124, val4}|
|{126, val5}|
+-----------+

+---+-----+
| id|value|
+---+-----+
|123| val1|
|456| val2|
|789| val3|
|124| val4|
|126| val5|
+---+-----+

Out[7]: 'dfContent.printSchema()\ndfContent1 = df.select(f.explode(df.content)).toDF("content")\ndfContent1.show()\ndfFooBar = dfContent1.select("content.id", "content.value").show()'

In [0]:
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/FileStore/tables/first_test.csv")  
df.show()
df.write.parquet("/FileStore/tables/first_test.parquet")

In [0]:
first_number = 10
second_number = 20
res_add = first_number + second_number 
print(res_add)

In [0]:
import pyspark.sql.functions as f
rdd1 = sc.parallelize([("06/12/2019",31)])
employees = rdd1.toDF(["LastName","DepartmentID"])
employees.show()
get_date = employees.first().DepartmentID
employees.show()
'''get_Query = "select * from demo where x = "+ get_date 
print(get_Query)'''
print(get_date)

In [0]:
import pyspark.sql.functions as f
rdd1 = sc.parallelize([("CX_CXHI_WI","AMP_CHURN"),("CX_CXHI_WI","AMP_CHURN2"),("CX_CXHI_WI","AMP_CHURN4")])
sch = rdd1.toDF(["SCHEMA_NAME","TBL_NAME"])
sch.show()
str1 = ""
for i in sch.collect():
  str1 = str1 + "select * from " + i['SCHEMA_NAME'] + "." + i['TBL_NAME'] + ","
l = str1.split(",")
for i in range(0,len(l)-1):
  print(l[i])

In [0]:
l1 = []
df = sc.emptyRDD().toDF("")
rdd1 = sc.parallelize([("CX_CXHI_WI","AMP_CHURN"),("CX_CXHI_WI","AMP_CHURN2"),("CX_CXHI_WI","AMP_CHURN4")])
sch = rdd1.toDF(["SCHEMA_NAME","TBL_NAME"])
for i in range(0,sch.count()):
  l1.append(sc.emptyRDD().toDF(""))
print(l1)

In [0]:
str = ["/FileStore/tables/first_test.csv","/FileStore/tables/first_test.csv"]
rdd1 = sc.parallelize([(" "," "," "," ")])
df = rdd1.toDF(["id","area","name","zip"])
for i in str:
  df1 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(i)
  df = df.union(df1)
df.show()

In [0]:
x = [1,2,2,3,4,5,5,6,9]
y = []
#print(x)
for i in x:
  if i not in y:
    y.append(i)
print(y)

In [0]:
from pyspark.sql import functions as F
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/FileStore/tables/pokemon.csv")
df = df.withColumnRenamed("Type 2","Type_2")




def CheckValue(Total):
  if(Total>200):
    return 0
  else:
    return Total
a = F.udf(CheckValue)
df.withColumn('res',a(F.col('Total'))).show()

In [0]:
import datetime
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType,DoubleType
df1 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/FileStore/tables/ratings.csv")  
#df1.show()
df1.printSchema()
#df2 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/FileStore/tables/tags.csv")  
#df2.show()
df3 = df1.withColumn("timestamp",df1["timestamp"].cast(DoubleType()))
df3.printSchema()
df4 = df1.withColumn("newtimestamp",datetime.datetime.fromtimestamp("timestamp"))
df4.show()

In [0]:
arr = [5, 2, 8, 7, 1];     
temp = 0;    
     
#Displaying elements of original array    
print("Elements of original array: ");    
for i in range(0, len(arr)):    
    print(arr[i], end=" ");    
     
#Sort the array in ascending order    
for i in range(0, len(arr)):    
    for j in range(i+1, len(arr)):    
        if(arr[i] > arr[j]):    
            temp = arr[i];    
            arr[i] = arr[j];    
            arr[j] = temp;  
print(arr)

In [0]:
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/FileStore/tables/first_test.csv")  
df.show()
df.persist(pyspark.StorageLevel.DISK_ONLY)

In [0]:
from pyspark import SparkContext
import pyspark
sc = SparkContext (
   "local", 
   "storagelevel app"
)
rdd1 = sc.parallelize([1,2])
rdd1.persist( pyspark.StorageLevel.MEMORY_AND_DISK_2 )

In [0]:
from pyspark.sql import functions as F
rdd1 = sc.parallelize([("000006663769","0001152200"),("000006663769","0001152200")])
df = rdd1.toDF(["process_order","root_batch"])
#df.show()
df = df.withColumn('process_order', F.regexp_replace('process_order', r'0', ''))
df = df.withColumn('root_batch', F.regexp_replace('root_batch', r'0', ''))
df.show()

In [0]:
def data(num):
  if(num<3):
    return "lesser than 3"
  elif(num>3):
    return "Greater than 3"
  else:
    return "equal"
res = data(5)  
print(res)

In [0]:
# if i am passing id column in the udf , it should return greater than 3 if the value is greater than 3 else it should return as lesser than 3 as new Column
from pyspark.sql.functions import udf,col
file_location1 = "/FileStore/tables/first_test.csv"
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load(file_location1)
df.show()
def data(num):
  if(num<3):
    return "lesser than 3"
  elif(num>3):
    return "Greater than 3"
  else:
    return "equal"

In [0]:
from pyspark.sql import functions as f
df = sc.parallelize([("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)]).toDF(["employee_name", "department", "salary"])
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [0]:
  '''
  row_number Window Function
row_number() window function is used to give the sequential row number starting from 1 to the result of each window partition.'''
  
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec  = Window.partitionBy("department").orderBy("salary")
res = df.withColumn("row_number",row_number().over(windowSpec))
res.show()

+-------------+----------+------+----------+
|employee_name|department|salary|row_number|
+-------------+----------+------+----------+
|        Maria|   Finance|  3000|         1|
|        Scott|   Finance|  3300|         2|
|          Jen|   Finance|  3900|         3|
|        Kumar| Marketing|  2000|         1|
|         Jeff| Marketing|  3000|         2|
|        James|     Sales|  3000|         1|
|        James|     Sales|  3000|         2|
|       Robert|     Sales|  4100|         3|
|         Saif|     Sales|  4100|         4|
|      Michael|     Sales|  4600|         5|
+-------------+----------+------+----------+

In [0]:
'''
rank() window function is used to provide a rank to the result within a window partition. This function leaves gaps in rank when there are ties.
'''
from pyspark.sql.functions import rank
res1 = df.withColumn("rank",rank().over(windowSpec))
res1.show()

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|   1|
|        Scott|   Finance|  3300|   2|
|          Jen|   Finance|  3900|   3|
|        Kumar| Marketing|  2000|   1|
|         Jeff| Marketing|  3000|   2|
|        James|     Sales|  3000|   1|
|        James|     Sales|  3000|   1|
|       Robert|     Sales|  4100|   3|
|         Saif|     Sales|  4100|   3|
|      Michael|     Sales|  4600|   5|
+-------------+----------+------+----+

In [0]:
'''
dense_rank() window function is used to get the result with rank of rows within a window partition without any gaps. This is similar to rank() function difference being rank function leaves gaps in rank when there are ties.'''
from pyspark.sql.functions import dense_rank
res3=df.withColumn("dense_rank",dense_rank().over(windowSpec))
res3.show()

+-------------+----------+------+----------+
|employee_name|department|salary|dense_rank|
+-------------+----------+------+----------+
|        Maria|   Finance|  3000|         1|
|        Scott|   Finance|  3300|         2|
|          Jen|   Finance|  3900|         3|
|        Kumar| Marketing|  2000|         1|
|         Jeff| Marketing|  3000|         2|
|        James|     Sales|  3000|         1|
|        James|     Sales|  3000|         1|
|       Robert|     Sales|  4100|         2|
|         Saif|     Sales|  4100|         2|
|      Michael|     Sales|  4600|         3|
+-------------+----------+------+----------+

In [0]:
'''This is the same as the LAG function in SQL.'''
from pyspark.sql.functions import lag    
from pyspark.sql.functions import lag    
df.withColumn("lag",lag("salary",1).over(windowSpec)) \
      .show()

+-------------+----------+------+----+
|employee_name|department|salary| lag|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|null|
|        Scott|   Finance|  3300|3000|
|          Jen|   Finance|  3900|3300|
|        Kumar| Marketing|  2000|null|
|         Jeff| Marketing|  3000|2000|
|        James|     Sales|  3000|null|
|        James|     Sales|  3000|3000|
|       Robert|     Sales|  4100|3000|
|         Saif|     Sales|  4100|4100|
|      Michael|     Sales|  4600|4100|
+-------------+----------+------+----+

In [0]:
'''
This is the same as the LEAD function in SQL
'''

from pyspark.sql.functions import lead    
df.withColumn("lead",lead("salary",1).over(windowSpec)).show()

+-------------+----------+------+----+
|employee_name|department|salary|lead|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|3300|
|        Scott|   Finance|  3300|3900|
|          Jen|   Finance|  3900|null|
|        Kumar| Marketing|  2000|3000|
|         Jeff| Marketing|  3000|null|
|        James|     Sales|  3000|3000|
|        James|     Sales|  3000|4100|
|       Robert|     Sales|  4100|4100|
|         Saif|     Sales|  4100|4600|
|      Michael|     Sales|  4600|null|
+-------------+----------+------+----+

In [0]:
'''
In this section, I will explain how to calculate sum, min, max for each department using PySpark SQL Aggregate window functions and WindowSpec. When working with Aggregate functions, we donâ€™t need to use order by clause.
'''
windowSpecAgg  = Window.partitionBy("department")
from pyspark.sql.functions import col,avg,sum,min,max,row_number 
df.withColumn("row",row_number().over(windowSpec)) \
  .withColumn("avg", avg(col("salary")).over(windowSpecAgg)) \
  .withColumn("sum", sum(col("salary")).over(windowSpecAgg)) \
  .withColumn("min", min(col("salary")).over(windowSpecAgg)) \
  .withColumn("max", max(col("salary")).over(windowSpecAgg)) \
  .where(col("row")==1).select("department","avg","sum","min","max").show()

In [0]:
from pyspark.sql.functions import countDistinct
x = [("2001","id1"),("2002","id1"),("2002","id1"),("2001","id1"),("2001","id2"),("2001","id2"),("2002","id2")]
y = spark.createDataFrame(x,["year","id"])

gr = y.groupBy("year").agg(countDistinct("id"))
gr.show()

In [0]:
import pyspark.sql.functions as f
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

df = spark.read.format("csv").option("header", "true").option("inferSchema","true").option("delimiter","|").load("/FileStore/tables/msidn.txt")
#df.show()
data1 = df.groupBy("APP_ID","APP_GROUP","APP_NAME").count()
#data1.show()
data1 = data1.withColumnRenamed("count","UNIQUE_USER_COUNT")

data2 = df.groupBy("APP_GROUP").agg(f.countDistinct("MSISDN"))
data2 = data2.withColumnRenamed("count(DISTINCT MSISDN)","UNIQU_GROUP_COUNT")
#data2.show()

get_top5 = data2.orderBy(f.desc("UNIQU_GROUP_COUNT")).limit(5).select("APP_GROUP").rdd.flatMap(lambda x: x).collect()
#get_top5
filtered_data_selected_group = data1.filter(f.col("APP_GROUP").isin(get_top5))

res_data = filtered_data_selected_group.join(data2,"APP_GROUP")
res_data.show()

#windowSpec  = Window.partitionBy("APP_GROUP").orderBy(desc("UNIQUE_USER_COUNT"))

windowSpec  = Window.partitionBy("APP_GROUP").orderBy(f.desc("UNIQUE_USER_COUNT"))
grouped_data = res_data.withColumn("row_number",row_number().over(windowSpec))
#grouped_data.show()
# #res = df.withColumn("row_number",row_number().over(windowSpec))

inter_mediate_data = grouped_data.withColumn("row_number", row_number().over(windowSpec)).where(f.col("row_number")<=5)
final_result = inter_mediate_data.drop("row_number")
final_result.show()

In [0]:
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/FileStore/tables/zomato.csv")  
df = df.withColumnRenamed("Price range","Price_range")
df.createOrReplaceTempView("test")
spark.sql("select City,sum(Price_range) from test group by City").show()

In [0]:
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/FileStore/tables/zomato.csv")  
df = df.withColumnRenamed("Price range","Price_range")
df = df.withColumnRenamed("Restaurant Name","Restaurant_Name")
df = df.withColumnRenamed("Average Cost for two","Average_Cost_for_two")
df.createOrReplaceTempView("test")
#df.agg({"Average_Cost_for_two": "min"}).show()
list1 = []
for i in df.collect():
  if(i['Average_Cost_for_two']!=None):
    if(i['Average_Cost_for_two'].isdigit()):
      list1.append(int(i['Average_Cost_for_two']))
max_value = max(list1)      
#print(max_value)
str1 = "select * from test where Average_Cost_for_two ="+"'"+str(max_value)+"'"
print(str1)
#spark.sql("select * from test where Average_Cost_for_two = '800000' ").show()
df.select("Restaurant_Name","City").filter((df.Average_Cost_for_two == max_value)).show(100, False)

In [0]:
rdd1 = sc.parallelize([("Rafferty",31),("Jones",33),("Heisenberg", 33),("Robinson", 34),("Smith", 34),("Williams", 39)])
rdd2 = sc.parallelize([(31, "Sales"),(33, "Engineering"),(34, "Clerical"),(35, "Marketing")])
employees = rdd1.toDF(["LastName","DepartmentID"])
departments = rdd2.toDF(["DepartmentID","DepartmentName"])
employees.show()
departments.show()

In [0]:
get_inner_join = employees.join(departments,["DepartmentID"])
get_inner_join.show()

In [0]:
get_left_join = employees.join(departments,["DepartmentID"],"left")
get_left_join.show()

In [0]:
get_left_outer_join = employees.join(departments,["DepartmentID"],"left_outer")
get_left_outer_join.show()

In [0]:
get_right_join = employees.join(departments,["DepartmentID"],"right")
get_right_join.show()

In [0]:
get_right_outer_join = employees.join(departments,["DepartmentID"],"rightouter")
get_right_outer_join.show()

In [0]:
get_left_semi_join = employees.join(departments,["DepartmentID"],"leftsemi")
get_left_semi_join.show()

In [0]:
get_right_semi_join = employees.join(departments,["DepartmentID"],"rightsemi")
get_right_semi_join.show()

In [0]:
get_left_anti_join = employees.join(departments,["DepartmentID"],"leftanti")
get_left_anti_join.show()

In [0]:
get_right_anti_join = employees.join(departments,["DepartmentID"],"rightanti")
get_right_anti_join.show()

In [0]:
rdd1 = sc.parallelize([("Rafferty",31),("Jones",33),("Heisenberg", 33),("Robinson", 34),("Smith", 34),("Williams", 39)])
res2 = rdd1.toDF(["Name","Age"])
res2.show()

+----------+---+
|      Name|Age|
+----------+---+
|  Rafferty| 31|
|     Jones| 33|
|Heisenberg| 33|
|  Robinson| 34|
|     Smith| 34|
|  Williams| 39|
+----------+---+

In [0]:
rdd1 = sc.parallelize([("Rafferty",31),("Jones",33),("Heisenberg", 33),("Robinson", 34),("Smith", 34),("Williams", 39)])
rdd2 = sc.parallelize([(31, "Sales"),(33, "Engineering"),(34, "Clerical"),(35, "Marketing")])
employees = rdd1.toDF(["LastName","DepartmentID"])
departments = rdd2.toDF(["DepartmentID","DepartmentName"])
employees.show()
departments.show()

+----------+------------+
|  LastName|DepartmentID|
+----------+------------+
|  Rafferty|          31|
|     Jones|          33|
|Heisenberg|          33|
|  Robinson|          34|
|     Smith|          34|
|  Williams|          39|
+----------+------------+

+------------+--------------+
|DepartmentID|DepartmentName|
+------------+--------------+
|          31|         Sales|
|          33|   Engineering|
|          34|      Clerical|
|          35|     Marketing|
+------------+--------------+

In [0]:
df1 =  employees.join(departments, "DepartmentID")  # select * from test where test.id = test1.id and test.name = test1.name
#df1.show()

+----------+------------+------------+--------------+
|  LastName|DepartmentID|DepartmentID|DepartmentName|
+----------+------------+------------+--------------+
|  Rafferty|          31|          31|         Sales|
|  Rafferty|          31|          33|   Engineering|
|  Rafferty|          31|          34|      Clerical|
|  Rafferty|          31|          35|     Marketing|
|     Jones|          33|          31|         Sales|
|     Jones|          33|          33|   Engineering|
|     Jones|          33|          34|      Clerical|
|     Jones|          33|          35|     Marketing|
|Heisenberg|          33|          31|         Sales|
|Heisenberg|          33|          33|   Engineering|
|Heisenberg|          33|          34|      Clerical|
|Heisenberg|          33|          35|     Marketing|
|  Robinson|          34|          31|         Sales|
|  Robinson|          34|          33|   Engineering|
|  Robinson|          34|          34|      Clerical|
|  Robinson|          34|          35|     Marketing|
|     Smith|          34|          31|         Sales|
|     Smith|          34|          33|   Engineering|
|     Smith|          34|          34|      Clerical|
|     Smith|          34|          35|     Marketing|
+----------+------------+------------+--------------+
only showing top 20 rows

In [0]:
import pyspark.sql.functions as f
rdd1 = sc.parallelize([("Rafferty",31),("Jones",33),("Heisenberg", 33),("Robinson", 34),("Smith", 34),("Williams", 39)])
employees = rdd1.toDF(["LastName","DepartmentID"])
employees.show()

+----------+------------+
|  LastName|DepartmentID|
+----------+------------+
|  Rafferty|          31|
|     Jones|          33|
|Heisenberg|          33|
|  Robinson|          34|
|     Smith|          34|
|  Williams|          39|
+----------+------------+

In [0]:
employees = employees.withColumn("DepartmentID", f.lit(7500))
employees.show()
employees = employees.withColumnRenamed("LastName","LastName_name")
employees.show()

+----------+------------+
|  LastName|DepartmentID|
+----------+------------+
|  Rafferty|        7500|
|     Jones|        7500|
|Heisenberg|        7500|
|  Robinson|        7500|
|     Smith|        7500|
|  Williams|        7500|
+----------+------------+

+-------------+------------+
|LastName_name|DepartmentID|
+-------------+------------+
|     Rafferty|        7500|
|        Jones|        7500|
|   Heisenberg|        7500|
|     Robinson|        7500|
|        Smith|        7500|
|     Williams|        7500|
+-------------+------------+

In [0]:
display(df1)

LastName,DepartmentID,DepartmentID,DepartmentName
Rafferty,31,31,Sales
Rafferty,31,33,Engineering
Rafferty,31,34,Clerical
Rafferty,31,35,Marketing
Jones,33,31,Sales
Jones,33,33,Engineering
Jones,33,34,Clerical
Jones,33,35,Marketing
Heisenberg,33,31,Sales
Heisenberg,33,33,Engineering
Heisenberg,33,34,Clerical
Heisenberg,33,35,Marketing
Robinson,34,31,Sales
Robinson,34,33,Engineering
Robinson,34,34,Clerical
Robinson,34,35,Marketing
Smith,34,31,Sales
Smith,34,33,Engineering
Smith,34,34,Clerical
Smith,34,35,Marketing
Williams,39,31,Sales
Williams,39,33,Engineering
Williams,39,34,Clerical
Williams,39,35,Marketing

In [0]:
import pandas as pd
import numpy as np

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
<command-4415491654619787> in <module>
----> 1 df1 = pd.read_csv("/FileStore/tables/first_test.csv")
      2 print(df1)

/databricks/python/lib/python3.8/site-packages/pandas/io/parsers.py in read_csv(filepath_or_buffer, sep, delimiter, header, names, index_col, usecols, squeeze, prefix, mangle_dupe_cols, dtype, engine, converters, true_values, false_values, skipinitialspace, skiprows, skipfooter, nrows, na_values, keep_default_na, na_filter, verbose, skip_blank_lines, parse_dates, infer_datetime_format, keep_date_col, date_parser, dayfirst, cache_dates, iterator, chunksize, compression, thousands, decimal, lineterminator, quotechar, quoting, doublequote, escapechar, comment, encoding, dialect, error_bad_lines, warn_bad_lines, delim_whitespace, low_memory, memory_map, float_precision, storage_options)
    608     kwds.update(kwds_defaults)
    609
--> 610     return _read(filepath_or_buffer, kwds)
    611
    612

/databricks/python/lib/python3.8/site-packages/pandas/io/parsers.py in _read(filepath_or_buffer, kwds)
    460
    461     # Create the parser.
--> 462     parser = TextFileReader(filepath_or_buffer, **kwds)
    463
    464     if chunksize or iterator:

/databricks/python/lib/python3.8/site-packages/pandas/io/parsers.py in __init__(self, f, engine, **kwds)
    817             self.options["has_index_names"] = kwds["has_index_names"]
    818
--> 819         self._engine = self._make_engine(self.engine)
    820
    821     def close(self):

/databricks/python/lib/python3.8/site-packages/pandas/io/parsers.py in _make_engine(self, engine)
   1048             )
   1049         # error: Too many arguments for "ParserBase"
-> 1050         return mapping[engine](self.f, **self.options)  # type: ignore[call-arg]
   1051
   1052     def _failover_to_python(self):

/databricks/python/lib/python3.8/site-packages/pandas/io/parsers.py in __init__(self, src, **kwds)
   1865
   1866         # open handles
-> 1867         self._open_handles(src, kwds)
   1868         assert self.handles is not None
   1869         for key in ("storage_options", "encoding", "memory_map", "compression"):

/databricks/python/lib/python3.8/site-packages/pandas/io/parsers.py in _open_handles(self, src, kwds)
   1360         Let the readers open IOHanldes after they are done with their potential raises.
   1361         """
-> 1362         self.handles = get_handle(
   1363             src,
   1364             "r",

/databricks/python/lib/python3.8/site-packages/pandas/io/common.py in get_handle(path_or_buf, mode, encoding, compression, memory_map, is_text, errors, storage_options)
    640                 errors = "replace"
    641             # Encoding
--> 642             handle = open(
    643                 handle,
    644                 ioargs.mode,

FileNotFoundError: [Errno 2] No such file or directory: '/FileStore/tables/first_test.csv'

In [0]:
dfs = spark.read.option("inferSchema","true").option("multiLine", "true").json("/FileStore/tables/test_multiLine.json")
dfs.show()

+---+---+------+
|age| id|  name|
+---+---+------+
| 21|  1|aakash|
+---+---+------+

In [0]:
df.write.format('csv').save('mycsv1')

In [0]:
df.show()

+---+-------+------+------+
| id|   area|  name|   zip|
+---+-------+------+------+
|  1|BLOCK A|   RAM|560097|
|  2|BLOCK B|   RAJ|560091|
|  3|BLOCK C| ROHAN|560092|
|  4|BLOCK D|RAMESH|560092|
|  6|BLOCK E|  RAMU|560098|
+---+-------+------+------+

In [0]:
df1 = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/FileStore/tables/UIDAI_ENR_DETAIL_20170308-034f9.csv") 
df1.count()

Out[18]: 440818

In [0]:
df1.write.format('csv').save('mycsv2')

In [0]:
df1.coalesce(1).write.format('csv').save('mycsv3')

In [0]:
df1.coalesce(20).write.format('csv').save('mycsv4')

In [0]:
str1 = "10"
res1 = int(str1)
print(res1)

10

In [0]:
data = [('James','','Smith','1991-04-01'),
  ('Michael','Rose','','2000-05-19'),
  ('Robert','','Williams','1978-09-05'),
  ('Maria','Anne','Jones','1967-12-01'),
  ('Jen','Mary','Brown','1980-02-17')
]
rdd1 = sc.parallelize(data)

df1 = rdd1.toDF(["firstname","middlename","lastname","dob"])
df1.show()

df1 = df1.withColumn('year', f.split(df1['dob'], '-').getItem(0)) \
       .withColumn('month', f.split(df1['dob'], '-').getItem(1)) \
       .withColumn('day', f.split(df1['dob'], '-').getItem(2))
df1.show(truncate=False)

+---------+----------+--------+----------+
|firstname|middlename|lastname|       dob|
+---------+----------+--------+----------+
|    James|          |   Smith|1991-04-01|
|  Michael|      Rose|        |2000-05-19|
|   Robert|          |Williams|1978-09-05|
|    Maria|      Anne|   Jones|1967-12-01|
|      Jen|      Mary|   Brown|1980-02-17|
+---------+----------+--------+----------+

+---------+----------+--------+----------+----+-----+---+
|firstname|middlename|lastname|dob       |year|month|day|
+---------+----------+--------+----------+----+-----+---+
|James    |          |Smith   |1991-04-01|1991|04   |01 |
|Michael  |Rose      |        |2000-05-19|2000|05   |19 |
|Robert   |          |Williams|1978-09-05|1978|09   |05 |
|Maria    |Anne      |Jones   |1967-12-01|1967|12   |01 |
|Jen      |Mary      |Brown   |1980-02-17|1980|02   |17 |
+---------+----------+--------+----------+----+-----+---+

In [0]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df2=df.select(f.concat(df.firstname,df.middlename,df.lastname)
              .alias("FullName"),"dob","gender","salary")
df2.show(truncate=False)

+--------------+----------+------+------+
|FullName      |dob       |gender|salary|
+--------------+----------+------+------+
|JamesSmith    |1991-04-01|M     |3000  |
|MichaelRose   |2000-05-19|M     |4000  |
|RobertWilliams|1978-09-05|M     |4000  |
|MariaAnneJones|1967-12-01|F     |4000  |
|JenMaryBrown  |1980-02-17|F     |-1    |
+--------------+----------+------+------+

In [0]:
data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
columns = ["Name","Dept","Salary"]
df = spark.createDataFrame(data,columns)
df.show()

+-------+---------+------+
|   Name|     Dept|Salary|
+-------+---------+------+
|  James|    Sales|  3000|
|Michael|    Sales|  4600|
| Robert|    Sales|  4100|
|  Maria|  Finance|  3000|
|  James|    Sales|  3000|
|  Scott|  Finance|  3300|
|    Jen|  Finance|  3900|
|   Jeff|Marketing|  3000|
|  Kumar|Marketing|  2000|
|   Saif|    Sales|  4100|
+-------+---------+------+

In [0]:
df2=df.select(f.countDistinct("Salary"))
df2.show()

+----------------------+
|count(DISTINCT Salary)|
+----------------------+
|                     6|
+----------------------+

In [0]:
df2=df.select(f.countDistinct("Dept","Salary"))
df2.show()

+----------------------------+
|count(DISTINCT Dept, Salary)|
+----------------------------+
|                           8|
+----------------------------+

In [0]:
df2=df.select(f.collect_list("Salary"))
df2 = df2.withColumnRenamed("collect_list(Salary)","get_list")
df2.show(truncate=False)

+------------------------------------------------------------+
|get_list                                                    |
+------------------------------------------------------------+
|[3000, 4600, 4100, 3000, 3000, 3300, 3900, 3000, 2000, 4100]|
+------------------------------------------------------------+

In [0]:
df2=df.select(f.collect_set("Salary"))
df2 = df2.withColumnRenamed("collect_set(Salary)","get_set")
df2.show(truncate=False)

+------------------------------------+
|get_set                             |
+------------------------------------+
|[4600, 3000, 3900, 4100, 3300, 2000]|
+------------------------------------+

In [0]:
df2=df.select(f.sum_distinct("Salary"))
df2.show()

+--------------------+
|sum(DISTINCT Salary)|
+--------------------+
|               20900|
+--------------------+

In [0]:
data = [(1,"20200828"),(2,"20180525")]
columns=["id","date"]
df=spark.createDataFrame(data,columns)
df = df.withColumn('year', f.substring('date', 1,4))
df = df.withColumn('month', f.substring('date', 5,2))
df = df.withColumn('day', f.substring('date', 7,2))
df.printSchema()
df.show(truncate=False)

root
 |-- id: long (nullable = true)
 |-- date: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)

+---+--------+----+-----+---+
|id |date    |year|month|day|
+---+--------+----+-----+---+
|1  |20200828|2020|08   |28 |
|2  |20180525|2018|05   |25 |
+---+--------+----+-----+---+

In [0]:
data = [(1,"20200828"),(2,"20180525")]
columns=["id","date"]
df=spark.createDataFrame(data,columns)
df.show()
df = df.withColumn('day', f.substring('date',7,2))
#df.printSchema()
df.show(truncate=False)
df.printSchema()

+---+--------+
| id|    date|
+---+--------+
|  1|20200828|
|  2|20180525|
+---+--------+

+---+--------+---+
|id |date    |day|
+---+--------+---+
|1  |20200828|28 |
|2  |20180525|25 |
+---+--------+---+

root
 |-- id: long (nullable = true)
 |-- date: string (nullable = true)
 |-- day: string (nullable = true)

In [0]:
df = spark.createDataFrame([([10, 20, 30,40,50,60],), ([40, 50,70,80,90],)], ['x'])
df.show(truncate=False)
df.select(f.slice(df.x, 1, 3).alias("sliced_data")).show(truncate=False)

+------------------------+
|x                       |
+------------------------+
|[10, 20, 30, 40, 50, 60]|
|[40, 50, 70, 80, 90]    |
+------------------------+

+------------+
|sliced_data |
+------------+
|[10, 20, 30]|
|[40, 50, 70]|
+------------+

In [0]:
import pyspark.sql.functions as f
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/FileStore/tables/test3.csv")  
#df1 = df1.limit(100)
df.select("Rating").distinct().show()

+--------------------+
|              Rating|
+--------------------+
| that fills not o...|
|25 Reviews , 24 F...|
|     5/25/2019 15:54|
|                   3|
|8 Reviews , 25 Fo...|
|                null|
|                   5|
|     5/22/2019 19:54|
| including a PDR ...|
| just one fried r...|
|     5/17/2019 22:17|
|     5/20/2019 12:11|
|     5/19/2019 22:57|
| rotis and raita ...|
| across all my vi...|
|9 Reviews , 8 Fol...|
|                   1|
|     5/24/2019 15:22|
|                   4|
|4 Reviews , 2 Fol...|
+--------------------+
only showing top 20 rows

In [0]:
# aakashkumar667@gmail.com
from pyspark.sql.functions import udf,col
file_location1 = "/FileStore/tables/first_test.csv"
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load(file_location1)
#df.show()
#df.printSchema()

dict={}
for i in df.collect():
    #print(i['id'])
    #print(i['name'])
    dict[i['id']]=i['name'] + "_" +  i['area']
print(dict)



def CheckValue(id):
  #print(dict.get(id))
  return str(dict.get(id)) + "_new"

a = udf(CheckValue) # here we are registering that function as udf , function will do for only primitive and data strutre data types , but if u have to pass the columns you must have to register the function as the udf
df_res = df.withColumn('res',a(col('id')))
df_res.show()

{1: 'RAM_BLOCK A', 2: 'RAJ_BLOCK B', 3: 'ROHAN_BLOCK C', 4: 'RAMESH_BLOCK D', 6: 'RAMU_BLOCK E'}
+---+-------+------+------+------------------+
| id|   area|  name|   zip|               res|
+---+-------+------+------+------------------+
|  1|BLOCK A|   RAM|560097|   RAM_BLOCK A_new|
|  2|BLOCK B|   RAJ|560091|   RAJ_BLOCK B_new|
|  3|BLOCK C| ROHAN|560092| ROHAN_BLOCK C_new|
|  4|BLOCK D|RAMESH|560092|RAMESH_BLOCK D_new|
|  6|BLOCK E|  RAMU|560098|  RAMU_BLOCK E_new|
+---+-------+------+------+------------------+

In [0]:
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/FileStore/tables/UIDAI_ENR_DETAIL_20170308-034f9.csv")

In [0]:
df = df.filter(df["Aadhaar generated"] == 0)
df2 = df.groupBy("State").count()
df3 = df2.orderBy(f.desc("count"))
df3.limit(10).show()

+--------------+-----+
|         State|count|
+--------------+-----+
|         Bihar| 2982|
| Uttar Pradesh| 2854|
|   West Bengal| 2770|
|Madhya Pradesh| 1654|
|     Rajasthan| 1143|
|   Maharashtra| 1117|
|       Gujarat| 1087|
|     Karnataka| 1025|
|        Odisha|  860|
|    Tamil Nadu|  776|
+--------------+-----+

In [0]:
df2 = df.filter(df["Aadhaar generated"] > 0)
df3 = df2.groupBy("Sub District","Gender").sum("Aadhaar generated")

get_male = df3.filter(df3["Gender"] == "M")
get_male = get_male.orderBy(f.desc("sum(Aadhaar generated)")).limit(10)
get_male.show()

+------------------+------+----------------------+
|      Sub District|Gender|sum(Aadhaar generated)|
+------------------+------+----------------------+
|           Roorkee|     M|                  3274|
|     Circus Avenue|     M|                  2515|
|         Kahalgoan|     M|                  2381|
|North 24 Paraganas|     M|                  2046|
|         Ghaziabad|     M|                  1856|
|    Ahmadabad City|     M|                  1823|
|        Barddhaman|     M|                  1704|
|          Varanasi|     M|                  1637|
|            Chunar|     M|                  1601|
|         Nathnagar|     M|                  1577|
+------------------+------+----------------------+

In [0]:
get_female = df3.filter(df3["Gender"] == "F")
get_female = get_female.orderBy(f.desc("sum(Aadhaar generated)")).limit(10)
get_female.show()

+------------------+------+----------------------+
|      Sub District|Gender|sum(Aadhaar generated)|
+------------------+------+----------------------+
|North 24 Paraganas|     F|                  2392|
|        Barddhaman|     F|                  2326|
|           Bisauli|     F|                  1902|
|       Bhangar - I|     F|                  1445|
|            Jaypur|     F|                  1358|
|        Karandighi|     F|                  1269|
|             Bausi|     F|                  1196|
|     Circus Avenue|     F|                  1134|
|          Raniganj|     F|                  1128|
|            Chapra|     F|                  1095|
+------------------+------+----------------------+

In [0]:
df = spark.read.format("csv").option("header", "true").load("/FileStore/tables/first_test.csv")  
#df.show(2)
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- area: string (nullable = true)
 |-- name: string (nullable = true)
 |-- zip: string (nullable = true)

In [0]:
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/FileStore/tables/first_test.csv")  
#df.show(2)
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- area: string (nullable = true)
 |-- name: string (nullable = true)
 |-- zip: integer (nullable = true)

In [0]:
df1 = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/first_test.csv")
df1.show()
df1.printSchema()

+---+-------+------+------+
| id|   area|  name|   zip|
+---+-------+------+------+
|  1|BLOCK A|   RAM|560097|
|  2|BLOCK B|   RAJ|560091|
|  3|BLOCK C| ROHAN|560092|
|  4|BLOCK D|RAMESH|560092|
|  6|BLOCK E|  RAMU|560098|
+---+-------+------+------+

root
 |-- id: string (nullable = true)
 |-- area: string (nullable = true)
 |-- name: string (nullable = true)
 |-- zip: string (nullable = true)

In [0]:
df.show()

+---+-------+------+------+
| id|   area|  name|   zip|
+---+-------+------+------+
|  1|BLOCK A|   RAM|560097|
|  2|BLOCK B|   RAJ|560091|
|  3|BLOCK C| ROHAN|560092|
|  4|BLOCK D|RAMESH|560092|
|  6|BLOCK E|  RAMU|560098|
+---+-------+------+------+

In [0]:
df.collect()

Out[26]: [Row(id=1, area='BLOCK A', name='RAM', zip=560097),
 Row(id=2, area='BLOCK B', name='RAJ', zip=560091),
 Row(id=3, area='BLOCK C', name='ROHAN', zip=560092),
 Row(id=4, area='BLOCK D', name='RAMESH', zip=560092),
 Row(id=6, area='BLOCK E', name='RAMU', zip=560098)]

In [0]:
dict1 = {}
for i in df.collect():
  dict1[i["id"]] = i["name"] # here key is id and value is name in the dictinoary
print(dict1)   # from the dataframe u have created the dictinoary

{1: 'RAM', 2: 'RAJ', 3: 'ROHAN', 4: 'RAMESH', 6: 'RAMU'}

In [0]:
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/FileStore/tables/first_test.csv")

In [0]:
df.show()

+---+-------+------+------+
| id|   area|  name|   zip|
+---+-------+------+------+
|  1|BLOCK A|   RAM|560097|
|  2|BLOCK B|   RAJ|560091|
|  3|BLOCK C| ROHAN|560092|
|  4|BLOCK D|RAMESH|560092|
|  6|BLOCK E|  RAMU|560098|
+---+-------+------+------+

In [0]:
res1 = df.filter(df["id"]>3) # here we have Filtered the data where id is >3
res1.show()

+---+-------+------+------+
| id|   area|  name|   zip|
+---+-------+------+------+
|  4|BLOCK D|RAMESH|560092|
|  6|BLOCK E|  RAMU|560098|
+---+-------+------+------+

In [0]:
# convert as the JSON File
df.collect()

Out[4]: [Row(id=1, area='BLOCK A', name='RAM', zip=560097),
 Row(id=2, area='BLOCK B', name='RAJ', zip=560091),
 Row(id=3, area='BLOCK C', name='ROHAN', zip=560092),
 Row(id=4, area='BLOCK D', name='RAMESH', zip=560092),
 Row(id=6, area='BLOCK E', name='RAMU', zip=560098)]

In [0]:
dict1 = {}
for i in df.collect():
  list1 = []
  list1.append(i["area"])
  list1.append(i["name"])
  list1.append(i["zip"])
  dict1[i["id"]] = list1
print(dict1)

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/databricks/spark/python/pyspark/sql/types.py in __getitem__(self, item)
   1559             # but this will not be used in normal cases
-> 1560             idx = self.__fields__.index(item)
   1561             return super(Row, self).__getitem__(idx)

ValueError: 'area' is not in list

During handling of the above exception, another exception occurred:

ValueError                                Traceback (most recent call last)
<command-2735545042926293> in <module>
      2 for i in df.collect():
      3   list1 = []
----> 4   list1.append(i["area"])
      5   list1.append(i["name"])
      6   list1.append(i["zip"])

/databricks/spark/python/pyspark/sql/types.py in __getitem__(self, item)
   1563             raise KeyError(item)
   1564         except ValueError:
-> 1565             raise ValueError(item)
   1566
   1567     def __getattr__(self, item):

ValueError: area

In [0]:
rdd1 = sc.parallelize([("Rafferty",31),("Jones",33),("Heisenberg", 33),("Robinson", 34),("Smith", 34),("Williams", 39)])
rdd2 = sc.parallelize([(31, "Sales"),(33, "Engineering"),(34, "Clerical"),(35, "Marketing")])
employees = rdd1.toDF(["LastName","DepartmentID"])
departments = rdd2.toDF(["DepartmentID","DepartmentName"])
#employees.show()
#departments.show()
#df1 = employees.join(departments, "DepartmentID") # select * from test where test.id = test1.id and test.name = test1.name
#df1.show()
#inner_join.show()
#inner_join_with_Multiple = employees.join(departments, ["DepartmentID"])
#inner_join_with_Multiple.show()
#left = employees.join(departments, "DepartmentID", "left")
#left.show()
left_outer = employees.join(departments, "DepartmentID", "left_outer")
left_outer.show()

+------------+----------+--------------+
|DepartmentID|  LastName|DepartmentName|
+------------+----------+--------------+
|          31|  Rafferty|         Sales|
|          33|     Jones|   Engineering|
|          33|Heisenberg|   Engineering|
|          34|  Robinson|      Clerical|
|          34|     Smith|      Clerical|
|          39|  Williams|          null|
+------------+----------+--------------+