In [0]:
from pyspark.sql.functions import *
rdd1 = sc.parallelize([("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)])
df=rdd1.toDF(["employee_name", "department", "salary"])
#rdd1.collect()
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *
windowSpec = Window.partitionBy("department").orderBy("salary")
res=df.withColumn("row_number",row_number().over(windowSpec))
res.show()

+-------------+----------+------+----------+
|employee_name|department|salary|row_number|
+-------------+----------+------+----------+
|        Maria|   Finance|  3000|         1|
|        Scott|   Finance|  3300|         2|
|          Jen|   Finance|  3900|         3|
|        Kumar| Marketing|  2000|         1|
|         Jeff| Marketing|  3000|         2|
|        James|     Sales|  3000|         1|
|        James|     Sales|  3000|         2|
|       Robert|     Sales|  4100|         3|
|         Saif|     Sales|  4100|         4|
|      Michael|     Sales|  4600|         5|
+-------------+----------+------+----------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *
windwoSpec=Window.partitionBy("department").orderBy("salary")
res=df.withColumn("rank",rank().over(windowSpec))
res.show()

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|   1|
|        Scott|   Finance|  3300|   2|
|          Jen|   Finance|  3900|   3|
|        Kumar| Marketing|  2000|   1|
|         Jeff| Marketing|  3000|   2|
|        James|     Sales|  3000|   1|
|        James|     Sales|  3000|   1|
|       Robert|     Sales|  4100|   3|
|         Saif|     Sales|  4100|   3|
|      Michael|     Sales|  4600|   5|
+-------------+----------+------+----+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *
windowSpec=Window.partitionBy("department").orderBy("salary")
res=df.withColumn("dense_rank",dense_rank().over(windowSpec))
res.show()

+-------------+----------+------+----------+
|employee_name|department|salary|dense_rank|
+-------------+----------+------+----------+
|        Maria|   Finance|  3000|         1|
|        Scott|   Finance|  3300|         2|
|          Jen|   Finance|  3900|         3|
|        Kumar| Marketing|  2000|         1|
|         Jeff| Marketing|  3000|         2|
|        James|     Sales|  3000|         1|
|        James|     Sales|  3000|         1|
|       Robert|     Sales|  4100|         2|
|         Saif|     Sales|  4100|         2|
|      Michael|     Sales|  4600|         3|
+-------------+----------+------+----------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *
windowSpec=Window.partitionBy("Department").orderBy("salary")
res=df.withColumn("lag",lag("salary",1).over(windowSpec))
res.show()

+-------------+----------+------+----+
|employee_name|department|salary| lag|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|null|
|        Scott|   Finance|  3300|3000|
|          Jen|   Finance|  3900|3300|
|        Kumar| Marketing|  2000|null|
|         Jeff| Marketing|  3000|2000|
|        James|     Sales|  3000|null|
|        James|     Sales|  3000|3000|
|       Robert|     Sales|  4100|3000|
|         Saif|     Sales|  4100|4100|
|      Michael|     Sales|  4600|4100|
+-------------+----------+------+----+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *
windowSpec=Window.partitionBy("department").orderBy("salary")
res=df.withColumn("lead",lead("salary",1).over(windowSpec))
res.show()

+-------------+----------+------+----+
|employee_name|department|salary|lead|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|3300|
|        Scott|   Finance|  3300|3900|
|          Jen|   Finance|  3900|null|
|        Kumar| Marketing|  2000|3000|
|         Jeff| Marketing|  3000|null|
|        James|     Sales|  3000|3000|
|        James|     Sales|  3000|4100|
|       Robert|     Sales|  4100|4100|
|         Saif|     Sales|  4100|4600|
|      Michael|     Sales|  4600|null|
+-------------+----------+------+----+

In [0]:
from pyspark.sql.functions import *
windowSpec=Window.partitionBy("department").orderBy("salary")
res=df.withColumn("row",row_number().over(windowSpec))
res.show()

+-------------+----------+------+---+
|employee_name|department|salary|row|
+-------------+----------+------+---+
|        Maria|   Finance|  3000|  1|
|        Scott|   Finance|  3300|  2|
|          Jen|   Finance|  3900|  3|
|        Kumar| Marketing|  2000|  1|
|         Jeff| Marketing|  3000|  2|
|        James|     Sales|  3000|  1|
|        James|     Sales|  3000|  2|
|       Robert|     Sales|  4100|  3|
|         Saif|     Sales|  4100|  4|
|      Michael|     Sales|  4600|  5|
+-------------+----------+------+---+